:root{
    --header-color:rgb(2, 23, 137);
    --menu-color: rgb(240, 186, 152);
    --content-color: rgb(28, 25, 63);
    --banners-color: rgb(226, 161, 238);
    --footer-color: #666;
    --btn-color: rgba(0, 155, 13, 0.6);
    --btn-hover-color: rgba(1, 155, 13, 1);
    --modal-color: rgb(95, 221, 238);
}