body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 18px;
    margin: 0;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

#header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: var(--header-color);
}

#footer{
    position: relative;
    height: 100px;
    background-color: var(--footer-color);     
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;   
    align-items: stretch;  

}

.main{    
    min-height: calc(100vh - 300px);    
    box-sizing: border-box;
}

.menu{    
    flex-basis: 15%;    
    background-color: var(--menu-color);
}

.main_menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 10px auto 0;
    list-style: none;    
    font-size: 1.2em;
}
.main_menu li{
    transition: all .5s;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    margin: 3px auto;
    font-size: .8em;
    padding: 5px;
    text-align: center;
    min-width: 130px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.main_menu li:hover{
    transition: all .5s;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.main_menu li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

.content{    
    flex-basis: 70%;    
    background-color: var(--content-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content h3{
    color: thistle;
    margin-left: 5%;
}

.users_wrapper{
    margin-top: 10px;
}

.user{
    display: flex;
    width: 90%;
    min-width: 380px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 5px auto 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #88F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.user p{
    font-size: 1.2em;
    line-height: .5em;
    margin-left: 2%;
    font-weight: bold;
    color: var(--text-color);
}

.user_btn_block{
    display: flex;
    flex-direction: row;
}

.user_btn_block button{    
    cursor: pointer;
    background-color: inherit;
    border: none;
    padding: 0;
    margin-right: 8px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.btn:hover{
    transition: all .3s;
    transform: scale(1.2);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.user button img{
    width: 22px;
    height: 20px;
}

.banners{          
    flex-basis: 15%; 
    background-color: var(--banners-color);
}

.logo{
    width: 240px;
    margin-left: 30px;
}

h1 a img{
    width: 240px;
}

#autBtn{
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.welcome_block{
    margin: 30px 50px;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 35%;
    color: var(--text-color);
}

.login_block, .register_block, .edit_block, .photo_block{    
    width: 15%;
    min-width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.edit_block{
    min-width: 400px;
    color: var(--text-color);
}

.edit_block img{
    height: 100px;    
}

#login_form, #register_form, #edit_form, #photo_form{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    display: flex;    
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}

/* #edit_form{
    align-items: flex-start;
} */

.field{
    font-size: .9em;
    margin-bottom: 5px;
    min-width: 194px;
    height: 25px;
    border: 1px solid #BBB;
    background-color: #f3f3f3;
    border-radius: 3px;
    outline: none;
    text-indent: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.field:focus{
    border: 1px solid var(--input-active-color);
}

#edit_form input{
    width: 100%;
}

#edit_form label{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    margin-bottom: 3px;
}

#sex{
    display: flex;
    font-weight: bold;
    margin: 7px 0;    
    flex-direction: row !important;
    justify-content: flex-start !important;
}

#sex label{
    flex-direction: row;    
    font-weight: normal;
    width: 100px;
}

#radioMale, #radioFemale{
    width: 15px;
}

.submit, .singInBtn, .regBtn, #editBtn, .quit_btn, .photo_btn{
    transition: all .5s;
    color: rgb(0, 2, 10);
    background-color: var(--btn-color);
    height: 25px;    
    border: none;
    border-radius: 3px;
    margin-bottom: 9px;
    overflow: hidden;
    min-width: 200px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 14px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#editBtn{
    margin-top: 10px;
}

.singInBtn, .regBtn, .quit_btn{
    height: 30px;
    width: 100px;
    min-width: 40px;
    margin: 0;
}

.submit:disabled{
    background-color: var(--btn-color);    
    opacity: .4;
}

.submit:hover:enabled, .singInBtn:hover, .regBtn:hover, #editBtn:hover, .quit_btn:hover, .photo_btn:hover{
    transition: all .5s;
    background-color: var(--btn-hover-color);    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.error{
    color: cornsilk;
    font-size: .7rem;    
    width: 160%;
    margin-bottom: 2px;
    min-width: 240px;
    text-align: center;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    width: 400px;
    height: 350px;
    z-index: 10;
    background-color: var(--modal-color);
    border-radius: 9px;
    border: 1px solid var(--modal-border-color);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

#modalEdit{
    position: fixed;
    width: 600px;
    height: 600px;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}

#succesEdit{
    position: fixed;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.3em;
}

#overlay{
    position: fixed;
    transition: 300ms ease-in-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.visible{
    opacity: 1;
    pointer-events: all;
}

.hide{
    display: none;
}

#creator{
    position: absolute;
    color: honeydew;
    width: 150px;
    text-align: center;
    line-height: 1.5em;
    right: 0;
    top: 35px;
    font-size: .8em;    
}

#about_me, #about_me:active{
    text-decoration: none;
    color: var(--header-color);
    font-weight: bold;
}

.photo_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid red; */
}

.photo_area{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.photo_btn{
    width: 50%;
    height: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.photo_element{
    position: relative;
    margin: 1%;
    width: 23%;
    height: 14vw;
    transition: 300ms all ;
    -webkit-transition: 300ms all ;
    -moz-transition: 300ms all ;
    -ms-transition: 300ms all ;
    -o-transition: 300ms all ;
}

.photo_element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: solid 1px yellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}

#photo_input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.photo_field{
    width: 150%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;   
    font-size: 1em;
    color: var(--text-color);
}

.photo_field_fake{
    flex: 3;
    padding: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    border-right: none;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_field_button{
    flex: 1;
    padding: 10px;
    background: #199172;
    border: 1px solid #199172;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.photo_field_button:hover{
    transition: all .5s;
    background: #1bbc5b;
    border: 1px solid #1bbc5b;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.select{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    transition: 300ms all;
    width: 30vw;
    height: 30vh;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%) scale(2.7);
    -moz-transform: translate(-50%, -50%) scale(2.5);
    -ms-transform: translate(-50%, -50%) scale(2.5);
    -o-transform: translate(-50%, -50%) scale(2.5);
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}

.close-btn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    color: var(--text-color);
    border: none;
    background: none;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: -1;
}

.delete-photo{
    position: absolute;
    color: black;
    border-radius: 0 0 10px 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    opacity: .5;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    z-index: -1;
}

.delete-photo:hover{
    background-color: rgba(255, 255, 255, .7);
    opacity: .7;
}

@media screen and (max-width: 720px){
    .wrapper{
        display: inline-block;
    }
    .main{
        width: 100%;
    }

    .menu{
        min-height: 0;
        height: 50px;
    }

    .banners{
        display: none;
    }

    .menu .banners{
        flex-grow: 1;
    }
    
    .content{
        flex-grow: 8;
    }

    .main_menu{
        margin: 0;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;  
        align-items: center;      
    }

    .main_menu li{
        margin: 0 0 0 5px;
        height: 20px;
    }

    .photo_area{
        flex-direction: column;
    }

    .photo_element{
        width: 100%;
        height: 70vw;
    }

    .select{
        width: 85%;
        transform: translate(-50%, -50%) scale(1.1);
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        -moz-transform: translate(-50%, -50%) scale(1.1);
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -o-transform: translate(-50%, -50%) scale(1.1);
}

    
    
    
} 