<div class="post_block">
    <form id="post_form" enctype="multipart/form-data">
        <label for="title_post">Напишите заголовок</label>
        <input name="postTitle" class="field" type="text" id="title_post">
        <input name="photo" id="photo_input" type="file" class="field field_file" placeholder="Добавте файл" required>
        <label class="photo_field" for="photo_input">
            <div class="photo_field_fake">Файл не вбран</div>
            <div class="photo_field_button">Выбрать</div>
        </label>        
        <button name="submit" class="submit photoBtn" type="submit">Добавить</button>
    </form>
</div>